@import "../../utils/common.less";

.login {
    background-image: url(../../assets/login_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #b8e5f8;
    color: @base-color;
    width: 100%;
    height: 100vh;

    .login-content {
        position: relative;
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 688px;
        height: calc(100% - 42px);

        .login__logo {
            text-align: center;

            svg {
                width: 128px;
                height: 60px;
                fill: #0084ff;
            }
            .login__logo__subtitle {
                font-size: 16px;
                margin: 4px 0 24px;
                letter-spacing: 4px;
            }
        }

        .login__form {
            width: 400px;
            background-color: @base-bg-color;
            padding: 0 24px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            .common-shadow;

            .login__form__type {
                display: inline-block;
                height: 60px;
                line-height: 60px;
                font-size: 16px;
                margin-right: 20px;
                cursor: pointer;
                position: relative;
            }
            .login__form__type--active {
                font-weight: bold;
                &:after {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    content: "";
                    width: 100%;
                    height: 3px;
                    background-color: #0084ff;
                }
            }
            .login__form__input {
                margin-top: 24px;
                padding-bottom: 3px;
                border-bottom: 1px solid #ebebeb;

                .ant-input {
                    border: none;
                    &:focus {
                        box-shadow: none;
                    }
                }

                >span {
                    display: inline-block;
                    vertical-align: baseline;
                    font-size: 15px;
                }

                .login__form__input__country {
                    color: #8590a6;
                    padding-right: 11px;
                    border-right: 1px solid #ebebeb;
                }
                .login__form__input__verify {
                    color: #175199;
                    &:hover {
                        cursor: pointer;
                        color: #76839b;
                    }
                }
                .login__form__input__verify--disabled {
                    &:hover {
                        cursor: auto;
                        color: #175199;
                    }
                }
            }

            .login__form__submit {
                margin-top: 30px;
                margin-bottom: 30px;
            }

            .login__form__vertype {
                margin-top: 12px;
                text-align: right;
                
                span {
                    cursor: pointer;
                }
            }
        }

        .login__warn {
            background-color: #f6f6f6;
            color: gray;
            width: 400px;
            padding: 12px 24px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            .common-shadow;
        }

        .login__way {
            width: 400px;
            padding: 0 24px;
            height: 60px;
            margin-top: 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #8590a6;
            font-size: 15px;
            background-color: @base-bg-color;
            border-radius: 3px;
            .common-shadow;

            .login__way__left {
                margin-right: 40px;
            }
            .login__way__item {
                i {
                    font-size: 20px;
                    vertical-align: middle;
                }
                span {
                    vertical-align: middle;
                }
            }
        }

        .login__download {
            width: 400px;
            height: 42px;
            line-height: 42px;
            text-align: center;
            color: #0084ff;
            background-color: @base-bg-color;
            margin-top: 24px;
            border-radius: 3px;
            .common-shadow;
        }
    }
}