.author__brief {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .author__brief__avatar {
        margin-right: 10px;
        width: 24px;
        height: 24px;
    }

    .author__brief__name {
        margin-right: 10px;
        font-size: 15px;
        line-height: 1.1;
        font-weight: 600;
        color: #444;
    }

    .author__brief__headline {
        font-size: 14px;
        color: #646464;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.author__detail {
    overflow: visible;
    position: relative;
    width: 300px;
    height: 150px;

    .author__detail__avatar {
        position: absolute;
        top: -30px;
        width: 64px;
        height: 64px;
        border-radius: 5px;
    }

    .author__detail__brief {
        margin-left: 80px;
        color: #1a1a1a;
        line-height: 1;

        >div:nth-child(1) {
            font-size: 16px;
            font-weight: 500;
        }

        >div:nth-child(2) {
            font-size: 14px;
            font-weight: 400;
            margin-top: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .author__detail__pieces {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        line-height: 1;
        margin-top: 20px;

        .author__detail__pieces__item {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;


            >span:nth-child(1) {
                font-size: 14px;
                color: #8590a6;
            }

            >span:nth-child(2) {
                font-size: 18px;
                font-weight: 600;
                color: #1a1a1a;
                margin-top: 5px;
            }
        }
    }
    .author__detail__operation {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .author__detail__loading {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -10px;
        margin-top: -10px;
    }
}